// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.box-flex
{
  display: flex;
  flex-wrap: nowrap;
}

.box-flex > div {
  background-color: dodgerblue;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
